<app-sign-in *ngIf="isLogin$ | async; else game" (signInGoogle)="onSignInGoogle()" (annonymous)="onAnnonymous()">
</app-sign-in>

<ng-template #game>
  <div class="h-screen w-screen">
    <app-navbar (signOut)="onSignOut()" (computer)="playWithComputer()" (invite)="onInvitePlayer()"></app-navbar>

    <div class="game">
      <app-player [selection]="selection" (playerSelection)="onSelect($event)" class="divider"></app-player>
      <app-oponnet [opponentSelection]="selection$ | async"></app-oponnet>
    </div>
  </div>
</ng-template>