<app-sign-in *ngIf="isLogin$ | async; else game" (signInGoogle)="onSignInGoogle()" (annonymous)="onAnnonymous()">
</app-sign-in>

<ng-template #game>
  <div class="h-screen w-screen">
    <app-navbar 
      [endScorePoints]="endScore$ | async"  
      [photoUrl]="photoUrl$ | async" 
      (signOut)="onSignOut()" 
      (computer)="playWithComputer()" 
      (invite)="onInvitePlayer()"
      (endScore)="onEndScore($event)"
    ></app-navbar>

    <div>Get {{ endScore$ | async }} points to win!</div>
    <div class="game">
      <app-player 
        [playerScore]="playerScore$ | async"
        [selection]="playerSelection$ | async" 
        (playerSelection)="onSelect($event)" 
        class="divider">
      </app-player>
      <app-oponnet 
        [opponentScore]="opponnetScore$ | async"
        [opponentSelection]="opponentselection$ | async"
      ></app-oponnet>
    </div>
  </div>
</ng-template>